h1 {
    word-spacing:100px;
    color: black;
    border:solid;
    margin:30px;
    position:absolute;
    
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:10px;
    border-style:dotted;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
a:link{
    color:aqua;
}
a:visited{
    color:black;
}
.item p{
    opacity:1;
    position:-ms-page;
}
.item:hover p{
    opacity:0.5;
}
.item img{
    opacity:0.5;
}
.item:hover img{
    opacity:1;
}
    
